{% extends "layout.html" %}


{% block head %}
<title> shelfy </title>
{% endblock %}









{% block body %}

<!-- Background image -->
<body background='/static/img/background.jpeg' height='100%'>



    <!-- <div class='vertical-center'> -->



    <!-- Logo -->
    <div class="row top10bottom2">
      <div class="col-lg-4 col-md-4"></div>

      <div class="col-lg-4 col-md-4 center-block">
        <img class='center-block img-responsive' src="/static/img/shelfie-logo.png"/ max-width='50%';>
      </div>

      <div class="col-lg-4 col-md-4"></div>

    </div>


    <!-- Form -->
    <div class="container">

      <div class="row">

          <div class="col-xl-4 col-lg-4"></div>

          <div class="col-xl-4 col-lg-4 text-center">

            <form method = "POST" action='/submission' enctype = "multipart/form-data">
             <input type = "file" class="form-control" name = "file" />
             <button class="btn btn-primary glyphicon glyphicon-book" type="submit">  Submit</button>
           </form>

          </div>

          <div class="col-xl-4 col-lg-4"></div>

      </div>

  </div>


  <!-- </div> -->


</body>

{% endblock %}
