{% extends "layout.html" %}


{% block head %}
<title> shelfy </title>
{% endblock %}










{% block body %}

  <div class="container-fluid bg-1 text-center">



    <!--
    <form method="POST" enctype = "multipart/form-data">

        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="select_file">
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>

    </form>
  -->
      <img src='/static/img/uppershelflogo.png' class='img-fluid' width='100%' alt='background'>


      <form method = "POST" enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>



      <img src='/static/img/lowershelf.png' class='img-fluid' width='100%' alt='background'>

  </div>


{% endblock %}
