<!doctype html>
<html lang="en">

<head>

<link rel="shortcut icon" href="http://www.example.com/myicon.ico"/>



<style>
  .bg-1 {
       background-color: #f1f1f1; /* Gray */
        color: #040404;
    }
</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




{% block head %}

<style type="text/css">
p {
   font-size: 16px;
}
</style>

{% endblock %}

</head>



<body>

{% block body %} {% endblock %}

</body>
