{% extends "layout.html" %}


{% block head %}
  <title> shelfie </title>
{% endblock %}










{% block body %}

<body>

  <script type="text/javascript" src="/static/js/table.js"></script>
  <!-- <script type="text/javascript" src="/static/js/bookshelf.js"></script> -->

  <div class="container-fluid bg-1 text-center">


    <!-- IMAGES -->

    <div class="row">

      <div class="col-lg-2"></div>

      <!-- <div class="col-lg-5">
        <img src="{{ rawimgfilepath }}" class="img-responsive" width="100%" alt="Raw img">
      </div> -->
      <center>
      <div class="col-lg-8">
        <img src="{{ procimgfilepath }}" class="img-responsive" width="50%" alt="Proc img" style="margin:'auto'; display:'block';">
      </div>
    </center>

      <div class="col-lg-2"></div>
    </div>










    <!-- <canvas id="bookshelf" width="600" height="400" style="border:1px solid #000000;"></canvas> -->





    <!-- PRICING ROW -->
    <div class="row">
      <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h1 class="bd-title text-success shelfy-font" id="total-label">Your shelf is worth at least $0.00</h1>
        </div>
      <div class="col-lg-1"></div>
    </div>



    <!-- TABLE ROW -->
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <table class="table table-hover" id="cost_table">
          <thead>
            <tr>
              <th>Book</th>
              <th>Price ($)</th>
              <th><img src="/static/img/caution_28.png"/></th>
              <th>Include?</th>
            </tr>
          </thead>
          <tbody>

            {% for book in books %}
              <!-- <script type='text/javascript'>
                register_new_title( "{{ book.center_x }}", "{{ book.center_y }}", "{{ book.book_info['title'] }}", "{{ book.book_info['authors'] }}" );
              </script> -->


              <tr class="table-warning">
              <td>
                <p class="text-left font-weight-bold">{{ book.book_info['title'] }}</p>
                <p class="text-left font-italic">{{ book.book_info['authors'] }}</p>
              </td>
              <td name="price_row">{{ book.formatted_price }}</td>

              <!-- Caution flag -->
              {% if book.flag == True %}
              <td><img src="/static/img/caution_28.png"/></td>
              {% else %}
              <td></td>
              {% endif %}

              <td name="checkbox">
                <div class="form-check">
                  {% if book.flag == True %}
                    <input type="checkbox" class="form-check-input" id={{ book.book_info['id'] }} name="sell-checkbox" width="30px" height="30px">
                  {% else %}
                    <input type="checkbox" class="form-check-input" id={{ book.book_info['id'] }} name="sell-checkbox" checked="checked" width="30px" height="30px">
                  {% endif %}
                </div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-lg-1"></div>

    </div>




</body>

{% endblock %}
