{% extends "layout.html" %}


{% block head %}
  <title> shelfy </title>
{% endblock %}










{% block body %}

  <div class="container-fluid bg-1 text-center">



    <h1>shelfy</h1>

    <div class="row">


      <div class="col-lg-5">
        <img src="{{ rawimgfilepath }}" class="img-responsive" width="100%" alt="Raw img">
      </div>

      <div class="col-lg-5">
        <img src="{{ procimgfilepath }}" class="img-responsive" width="100%" alt="Proc img">
      </div>

      <div class="col-lg-2">
      </div>


    </div>

    




{% endblock %}
