.shelfy-font
{
    color:#ff0000 !important;
}

html {
  overflow-y: scroll;
}

/*div.shelfy-background{
    color:#fff;
    text-align:center;
    background:'/static/img/background.jpeg';
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
}*/


/*#main.container{
    background-image: url('../img/background.jpeg') repeat center center;
}*/

/*
body {
  background-image: url('../img/background.jpeg');
}*/



.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.top30{
  margin-top:30%;
}

.bottom30{
  margin-bottom:30%;
}

.top20{
  margin-top:20%;
}

.bottom20{
  margin-bottom:20%;
}


.top10bottom2{
  margin-top:10%;
  margin-bottom:2%;
}

.bottom10{
  margin-bottom:10%;
}

.top5{
  margin-top:5%;
}


/*
input[type=file] {
    margin: 0 auto;
}

*/


.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
