.shelfy-font
{
    color:#ff0000 !important;
}

div.shelfy-background{
    color:#fff;
    text-align:center;
    background:'/static/img/background.jpeg';
    background-size:cover;
    background-position:center;
    padding-top:100px;
    padding-bottom:100px;
}


#main.container-fluid{
    background-image:'/../img/background.jpeg'
}
